<%- include layout/header.ejs %>

    <form name="myform"id="post_form" method="post" enctype="multipart/form-data"  onsubmit="return false;">
        Название:

        <input type="text" name="name" id="inp1"onkeyup="check_def();" ></input>

        <br>
        <br> Автор:

        <input type="text" name="author" id="inp2"onkeyup="check_def();" ></input>

        <br>
        <br> Предмет:

        <input type="text" name="subject"id="inp3"onkeyup="check_def();" ></input>

        <br>
        <br> Тема:

        <input type="text" name="theme"id="inp4"onkeyup="check_def();" ></input>

        <br>
        <br> Класс:

        <input type="number" min="1" max="11" step="1" name="rate" ></input>

        <br>
        <br>
            <div id = "question_list"></div>
            <br>
            <input type="button" id="button_add_question" value="Добавить вопрос" onclick="addQuestionButtonClick();">


            <br>
            <br>
            <!-- Надо сделать, чтобы эта кнопка по нажатию на клавишу переходило на /--> 
            <button id="button_creating_test" type="button" onclick="document.forms['myform'].submit();" disabled>Сохранить тест</button>
            
    </form>
    
    <script src='/javascripts/index.js'></script>

    
    
    <%- include layout/footer.ejs %>