<%- include layout/header.ejs %>

<form id="post_form" method="post">

    <span class="border-top border-dark">

        <div class="row ml-2">

            <div class="col-lg-3">

                <div class="row">
                    <div class="col-5">
                        Название:
                    </div>
                    <div class="col">
                        <input type="text" name="name" id   ="inp1" onkeyup="check();" ></input>
                    </div>
                </div>
                <br> 
                <div class="row">
                    <div class="col-5">
                        Автор: 
                    </div>
                    <div class="col">
                        <input type="text" name="author" id="inp2" onkeyup="check();"></input>
                    </div>
                </div>
                <br> 
                <div class="row">
                    <div class="col-5">
                        Предмет:
                    </div>
                    <div class="col">
                        <input type="text" name="subject" id="inp3" onkeyup="check();"></input>
                    </div>
                </div>
                <br> 
                <div class="row">
                    <div class="col-5">
                        Тема:
                    </div>
                    <div class="col">
                        <input type="text" name="theme" id="inp4" onkeyup="check();"></input>
                    </div>
                </div>
                <br> 
                <div class="row">
                    <div class="col-5">
                        Класс:
                    </div>
                    <div class="col">
                        <input type="number" min="1" max="11" step="1" name="rate"></input>
                    </div>
                </div>

            </div>


                <div class="col-lg-9">

                        <pre>
                            
                            <div class="container" id = "question_list"></div>
                        
                            <h6>Выберите тип вопроса</h6>

                            <select name = '${elem.id}[quesiton_type]' onchange = 'changeQuestionType("${elem.id}", this.options[this.selectedIndex].value)'>
                                    <option value=''></option>
                                    <option value = 'free_input'>Свободный ответ</option>
                                    <option value = 'multiple_choice'>Выбор из списка</option>
                            </select>



                        <br>

                        <input type="button" id="button_add_question" value="Добавить вопрос" onclick="addQuestionButtonClick();">

                    </pre>
                </div>

        </div>
    </span>
        <br>
            <!-- Надо сделать, чтобы эта кнопка по нажатию на клавишу переходило на /--> 
            <button id="button_creating_test" type="button" onclick="document.forms['myform'].submit();" disabled>Сохранить тест</button>
            
</form>
    <script src='/javascripts/index.js'></script>

    
    
    <%- include layout/footer.ejs %>