<%- include layout/header.ejs %>

    <form id="post_form" method="post">
        Название:

        <input
            type="text"
            name="name"
        ></input>

        <br>
        <br>
        Автор:

        <input
            type="text"
            name="author"
        ></input>

        <br>
        <br>
        Предмет:

        <input
            type="text"
            name="subject"
        ></input>

        <br>
        <br>
        Тема:

        <input
            type="text"
            name="theme"
        ></input>

        <br>
        <br>
        Класс:

        <input
            type="text"
            name="rate"
        ></input>

        <br>
        <br>
        <button id = "button_creating_test"
            type="submit"
        >Сохранить тест</button>
    </form>
    <%- include layout/footer.ejs %>