<%- include layout/header.ejs %>

    <form id="post_form" method="post">
        <div class="container">
<div class="row">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-3">
            Название:
        </div>
        <div class="col-lg-2">
            <input type="text" name="name"></input>
        </div>
        </div>
            <br> 
            <div class="row">
                <div class="col-lg-3">
            Автор: 
        </div>
        <div class="col-lg-2">
            <input type="text" name="author"></input>
        </div>
        </div>
            <br> 
            <div class="row">
                <div class="col-lg-3">
            Предмет:
        </div>
        <div class="col-lg-2">
            <input type="text" name="subject"></input>
        </div>
        </div>
            <br> 
            <div class="row">
                    <div class="col-lg-3">
                            Тема:
            </div>
            <div class="col-lg-2">
                    <input type="text" name="theme"></input>
            </div>
            </div>
            <br> 
            <div class="row">
                    <div class="col-lg-3">
                            Класс:
            </div>
            <div class="col-lg-2">
                    <input type="number" min="1" max="11" step="1" name="rate"></input>
            </div>
            </div>
        </div>
    </div>
</div>



        <br>
        <br>



        <br>
        <br>



        <br>
        <br>



        <br>
        <br>
            <div id = "question_list"></div>
            <br>
            <input type="button" id="button_add_question" value="Добавить вопрос" onclick="addQuestionButtonClick();">


            <br>
            <br>
            <!-- Надо сделать, чтобы эта кнопка по нажатию на клавишу переходило на /--> 
            <button id="button_creating_test" type="submit">Сохранить тест</button>
            
    </form>
    
    <script src='/javascripts/index.js'></script>
    
    
    <%- include layout/footer.ejs %>