<%- include ./layout/header.ejs %>

    <body>
        <% if(errors){%>
            <%errors.forEach(function(error){%>
                <%=error.msg%>
        <%})}%>

        <div class="container">
            <h4>Войдите в систему</h4>
            <form action ="/entry" method = "POST">

                <div class="form-group">
                    <label for="usernameInput">Логин</label>
                    <input type="text" name="username" id="usernameInput" class = "form-control">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Пароль</label>
                    <input type="password" name="password" id="passwordInput" class = "form-control">
                </div>
                <button type="submit" class="btn btn-outline-primary">Войти</button>

            </form>
        </div>

    </body>

    </html>

    <%- include ./layout/footer.ejs %>