<!DOCTYPE html>
<html>

<head>
    <script src="http://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
        crossorigin="anonymous"></script>

</head>

<body>
    <h2>Войдите в систему</h2>
        <form action="/teacher/tests" method="get">
            <button id = "t_b">Я учитель</button>
        </form>
        <br>
        <form action="" method="get">
                <button id = "s_b">Я ученик</button>
        </form>
        
        
    
</body>

</html>