<%- include layout/header.ejs %>
    <% question.forEach(function(question){ %>

        <div class="container">
    
            <%= question.condition %> 
            <% all_options.forEach(function(string){ %>

                <%= all_options.text %> 

            <% }); %>
        </div>  

    <% }); %>

<%- include layout/footer.ejs %>