<%- include ../layout/header.ejs %>

    <form id="post_form" method="post">

        <span class="border-top border-dark">

            <div class="row ml-2">

                <div class="col-lg-3">

                    <div class="row">
                        <div class="col-5">
                            Название:
                        </div>
                        <div class="col">
                            <input type="text" name="name"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-5">
                            Автор:
                        </div>
                        <div class="col">
                            <input type="text" name="author"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-5">
                            Предмет:
                        </div>
                        <div class="col">
                            <input type="text" name="subject"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-5">
                            Тема:
                        </div>
                        <div class="col">
                            <input type="text" name="theme"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-5">
                            Класс:
                        </div>
                        <div class="col">
                            <input type="number" min="1" max="11" step="1" name="rate"></input>
                        </div>
                    </div>

                </div>

                <span class="border-left border-dark">
                    <div class="col-lg-9">

                        <div class="container" id="question_list"></div>

                        <br>

                        <input type="button" id="button_add_question" value="Добавить вопрос" onclick="addQuestionButtonClick();">

                    </div>
                </span>
            </div>
        </span>
        <br>
        <button id="button_creating_test" type="submit">Сохранить тест</button>

    </form>
    <script src='/javascripts/index.js'></script>



    <%- include ../layout/footer.ejs %>