<%-include ../layout/header.ejs %>
    <%-include ../layout/menu.ejs %>

        <div class="container">
            <div class="row">
                <form action="/session/create" method="POST" id="main_form">
                    Название сессии:
                    <input type="text" name="name">
                    <br>
                    <br> Выберите классы:
                    <br>
                    <br>
                    <input type="checkbox" name="groups" value="5.1">5.1
                    <input type="checkbox" name="groups" value="5.2">5.2
                    <input type="checkbox" name="groups" value="5.3">5.3
                    <input type="checkbox" name="groups" value="5.4">5.4
                    <br>
                    <br>
                    <input type="checkbox" name="groups" value="6.1">6.1
                    <input type="checkbox" name="groups" value="6.2">6.2
                    <input type="checkbox" name="groups" value="6.3">6.3
                    <input type="checkbox" name="groups" value="6.4">6.4
                    <input type="checkbox" name="groups" value="6.5">6.5
                    <input type="checkbox" name="groups" value="6.6">6.6
                    <br>
                    <br>
                    <input type="checkbox" name="groups" value="7.1">7.1
                    <input type="checkbox" name="groups" value="7.2">7.2
                    <input type="checkbox" name="groups" value="7.3">7.3
                    <input type="checkbox" name="groups" value="7.4">7.4
                    <input type="checkbox" name="groups" value="7.5">7.5
                    <input type="checkbox" name="groups" value="7.6">7.6
                    <br>
                    <br>
                    <input type="checkbox" name="groups" value="8.1">8.1
                    <input type="checkbox" name="groups" value="8.2">8.2
                    <input type="checkbox" name="groups" value="8.3">8.3
                    <input type="checkbox" name="groups" value="8.4">8.4
                    <input type="checkbox" name="groups" value="8.5">8.5
                    <input type="checkbox" name="groups" value="8.6">8.6
                    <br>
                    <br>
                    <input type="checkbox" name="groups" value="9.1">9.1
                    <input type="checkbox" name="groups" value="9.2">9.2
                    <input type="checkbox" name="groups" value="9.3">9.3
                    <input type="checkbox" name="groups" value="9.4">9.4
                    <input type="checkbox" name="groups" value="9.5">9.5
                    <input type="checkbox" name="groups" value="9.6">9.6
                    <br>
                    <br>
                    <input type="checkbox" name="groups" value="10.1">10.1
                    <input type="checkbox" name="groups" value="10.2">10.2
                    <input type="checkbox" name="groups" value="10.3">10.3
                    <input type="checkbox" name="groups" value="10.4">10.4
                    <input type="checkbox" name="groups" value="10.5">10.5
                    <input type="checkbox" name="groups" value="10.6">10.6
                    <br>
                    <br>
                    <input type="checkbox" name="groups" value="11.1">11.1
                    <input type="checkbox" name="groups" value="11.2">11.2
                    <input type="checkbox" name="groups" value="11.3">11.3
                    <input type="checkbox" name="groups" value="11.4">11.4
                    <input type="checkbox" name="groups" value="11.5">11.5
                    <input type="hidden" name="test_id" value="<%=test.id%>">
                    <br>
                    <br>
                    <input type="submit" value="Создать сессию">
                </form>
            </div>

        </div>

        <%- include ../layout/footer.ejs %>