<%-include ../layout/header.ejs %>
<%-include ../layout/menu.ejs %>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
                <h5>Создание сессии</h5>
        </div>
        <div class="col"></div>
            
    </div>  
</div>

<%- include ../layout/footer.ejs %>