body{
    background-color: #fbdfd4;
}
#create_test_button{
    width: 120px;
    height: 50px;
}
#button_creating_test{
    width: 200px;
    height: 40px;
}
#logo_text{
    color: #f57f75;
    font-size:25px;
    text-align: left;
}
a{
    text-decoration: none;
    color: #000000 !important;
    font-size: 20px;
}

