*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

body{
   background-color: #BBDEFB;
}
#button_creating_test{
    width: 200px;
    height: 40px;
}
#logo{
    color: #f57f75;
    font-size:1.25rem;
    text-align: left;
}
a{
    text-decoration: none;
    color: #000000 !important;
    font-size: 1.25rem;
}
h1{
    font-size: 2rem;
    text-align: right;
}
#test_row{
    width: 1100px;
}
#but{
    background-color: #ffcc00;
}
#create_test_button{
    background-color: #00CC00;
}