body{
   background-color: #BBDEFB;
   position: relative;
}
#button_creating_test{
    width: 200px;
    height: 40px;
}
a{
    text-decoration: none;
    color: #000000 !important;
    font-size: 1.25rem;
}
#logo{
    color: #f57f75;
    font-size:1.25rem;
    text-align: left;
}
h1{
    font-size: 2rem;
    text-align: right;
}
#search{
    background-color: #ffcc00;
}
#maintable{
    background-color: white;
}
#roll{
    position: relative;
}